* {
    margin: 0;
    box-sizing: inherit
}

html {
    --header-height: 3.5em;
    --focus-shadow-size: .1875em;
    --input-top-padding: .7em;
    --input-bottom-padding: .7em;
    --input-horizontal-padding: .8em;
    --button-vertical-padding: calc((var(--input-top-padding) + var(--input-bottom-padding)) / 2);
    --button-horizontal-padding: .8em;
    --form-field-border-radius: .375em;
    --form-field-line-height: 1.3;
    --section-gutter-size: 10em;
    --orange-rgb: 243, 128, 32;
    --light-blue-rgb: 79, 140, 200;
    --blue-rgb: 0, 81, 127;
    --purple-rgb: 65, 54, 128;
    --dark-purple-rgb: 34, 30, 104;
    --black-purple-rgb: 15, 13, 55;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.5;
    color: rgb(var(--color-rgb));
    background: rgb(var(--background-color-rgb));
    --color-rgb: 250, 250, 250;
    --cloudflare-logo-wordmark-color: rgb(var(--color-rgb));
    --background-color-rgb: var(--black-purple-rgb);
    --nav-link-background-color-hover: hsla(0, 0%, 100%, .05);
    --nav-link-background-color-active: rgba(0, 0, 0, .12);
    --input-background-color: hsla(0, 0%, 100%, .06);
    --input-placeholder-color: rgba(var(--color-rgb), .4);
    --input-border-color: transparent;
    --input-border-color-focused: transparent;
    --mobile-content-section-shadow-color: rgba(0, 0, 0, .18);
    --dialog-background-color-rgb: 23, 23, 23;
    --subtitle-color: rgba(var(--color-rgb), .7);
    --focus-shadow-color: rgba(var(--orange-rgb), .5);
    --selection-background-color: #ff9e40;
    --selection-color: #fff;
    --accent-color-rgb: var(--purple-rgb);
    -webkit-font-smoothing: antialiased
}

@media (max-width: 1080px) {
    html {
        --section-gutter-size: 6em
    }
}

::selection {
    background: var(--selection-background-color);
    color: var(--selection-color)
}


body {
    font-size: 2.1em
}

@media (max-width: 1200px) {
    body {
        font-size: 1.9em
    }

}

@media (max-height: 650px),(max-width: 1080px) {
    body {
        font-size: 1.8em
    }

}

@media (max-width: 920px) {
    body {
        font-size: 1.7em
    }

}

@media (max-width: 768px) {
    body {
        font-size: 1.6em
    }

}

img, svg {
    display: block;
    height: 100%;
    width: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}


.Surface {
    position: relative;
    overflow: hidden
}



/* infinitehundred logo - top left corner */
    .Header {
        position: absolute;
        z-index: 3;
        height: var(--header-height);
        width: 100%
    }

    @media (max-width: 768px) {
        .Header {
            position: relative
        }
    }

    .Nav {
        display: flex;
        height: 100%
    }

    .Nav--link {
        display: flex;
        align-items: center;
        padding: 0 1em;
        flex-shrink: 0;
        color: inherit;
        text-decoration: none;
        transition: box-shadow .3s ease
    }

    @media (max-width: 768px) {
        .Nav--link:not(:first-child) {
            display: none
        }

    }

    .Nav--link:hover {
        background: var(--nav-link-background-color-hover)
    }

    .Nav--link-active, .Nav--link:active {
        background: var(--nav-link-background-color-active)
    }

    .Nav--link:focus {
        outline: none
    }

    .Nav--link.focus-visible:focus {
        box-shadow: 0 0 0 var(--focus-shadow-size) var(--focus-shadow-color)
    }

    .Nav--link.focus-visible:not(:focus) {
        --focus-shadow-size: 0
    }

    .Nav--link:first-child {
        margin-right: auto;
        border-bottom-right-radius: .3125em
    }

    .Nav--link:last-child {
        border-bottom-left-radius: .3125em
    }

    .Nav--link:not(:first-child):not(:last-child) {
        border-bottom-right-radius: .3125em;
        border-bottom-left-radius: .3125em
    }

/* infinitehundred logo - top left corner */










/* common in multiple sections */
.SectionCopy {
    display: flex;
    width: 18em;
    max-width: 100%;
    text-align: left
}

.SectionCopy.SectionCopy-is-right {
    justify-content: flex-end
}

@media (max-width: 768px) {
    .SectionCopy.SectionCopy-is-right {
        justify-content: flex-start
    }

}

.SectionCopy--title {
    font-size: 1.75em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: .5em
}

.SectionCopy--description p:not(:last-child) {
    margin-bottom: .5em
}

.SectionCopy.SectionCopy-is-centered {
    display: block;
    width: 26em;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.SectionCopy.SectionCopy-is-centered .SectionCopy--description, .SectionCopy.SectionCopy-is-centered .SectionCopy--title {
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 768px) {
    .SectionCopy, .SectionCopy.SectionCopy-is-centered {
        width: 23em;
        text-align: left
    }

    .SectionCopy.SectionCopy-is-centered .SectionCopy--description, .SectionCopy.SectionCopy-is-centered .SectionCopy--title {
        margin-left: 0;
        margin-right: auto
    }

}

.CopyLink {
    text-decoration: none;
    color: inherit;
    --underline-size: -.16em;
    --box-shadow: 0 0 0 var(--focus-shadow-size) var(--focus-shadow-color), inset 0 var(--underline-size) rgba(var(--color-rgb), .5);
    box-shadow: var(--box-shadow);
    transition: color .3s ease, box-shadow .3s ease
}

.CopyLink:hover {
    color: rgb(var(--accent-color-rgb))
}

.CopyLink-with-right-arrow, .CopyLink-with-right-arrow:hover {
    --underline-size: 0
}

.CopyLink-with-right-arrow {
    transition: color .3s ease
}

.CopyLink-with-right-arrow:after {
    content: "\00a0→"
}

.CopyLink.focus-visible {
    transition: box-shadow .3s ease
}

.CopyLink:focus {
    outline: none
}

.CopyLink:not(.focus-visible):focus, .CopyLink:not(:focus) {
    --focus-shadow-size: 0
}


.DeviceMockup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 14em;
    height: 28em
}

.DeviceMockup.desktop {
    height: 24em;
    width: 22em
}

@media (max-width: 1080px) {
    .DeviceMockup {
        font-size: .9em
    }

}

.DeviceMockup--backdrop {
    position: absolute;
    pointer-events: none
}

.DeviceMockup--backdrop-blob1 {
    top: -136%;
    left: -70%;
    height: 421%;
    width: 616%
}

.DeviceMockup--backdrop-blob2 {
    top: -242%;
    right: -70%;
    height: 580%;
    width: 730%
}

.DeviceMockup--backdrop-blob3 {
    top: -300%;
    left: -30%;
    height: 550%;
    width: 500%
}

@media (max-width: 1080px) {
    .DeviceMockup--backdrop-blob1 {
        left: -50%
    }

    .DeviceMockup--backdrop-blob2 {
        right: -50%
    }

}

@media (max-width: 768px) {
    .DeviceMockup--monitor {
        width: 100%
    }

    .DeviceMockup--backdrop-blob1 {
        top: -101%;
        left: -42%;
        height: 331%;
        width: 446%
    }

    .DeviceMockup--backdrop-blob2 {
        top: -142%;
        right: -36%;
        height: 420%;
        width: 540%
    }

    .DeviceMockup--backdrop-blob3 {
        top: -109%;
        left: -22%;
        height: 367%;
        width: 360%
    }

    .DeviceMockup--backdrop-blob3-desktop-only-blog {
        fill: transparent
    }

}

.DeviceMockup--device {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2.5em .375em;
    background: #fff;
    border-radius: 1.75em;
    --box-shadow: inset 0 .25em .5em .0625em #fff, inset 0 -.3em 1em rgba(var(--black-purple-rgb), .15), 0 .125em .375em rgba(var(--black-purple-rgb), .05), 0 .5em 1em rgba(var(--black-purple-rgb), .1);
    box-shadow: var(--box-shadow)
}

.DeviceMockup.desktop .DeviceMockup--device {
    background: transparent;
    box-shadow: none
}

.DeviceMockup--device-monitor {
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto !important
}

@media (max-width: 768px) {
    .DeviceMockup--device {
        height: 120%;
        width: 110%;
        margin-top: -10%;
        margin-left: -5%
    }

}

@media (max-width: 576px) {
    .DeviceMockup--device {
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-left: 0
    }

}

.DeviceMockup--device-display {
    position: relative;
    height: 100%;
    width: 100%;
    --box-shadow: inset 0 0 0 .0625em rgba(var(--black-purple-rgb), .1);
    box-shadow: var(--box-shadow);
    border-radius: .25em;
    background: rgba(var(--black-purple-rgb), .2)
}

.DeviceMockup.desktop .DeviceMockup--device-display {
    background: none;
    box-shadow: none;
    border: none
}

@media (max-width: 1080px) {
    .DeviceMockup--device-display {
        --box-shadow: inset 0 0 0 1px rgba(var(--black-purple-rgb), .1);
        box-shadow: var(--box-shadow)
    }

}



/* common in multiple sections */



















/* hero section */
.HeroSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 35em;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em
}

.HeroSectionFollowup {
    padding-top: 2em
}

.HeroSectionFollowup > img {
    margin: 0 auto;
    max-width: 75%
}

.HeroSection--content {
    display: block;
    text-align: center;
    width: 34em;
    padding-bottom: 3.5em;
    max-width: 100%
}

.HeroSection--logo {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto
}

.HeroSection--title-wrapper {
    margin: 1.333em auto
}

.HeroSection--title {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.3;
    margin: 1.333em auto
}

.HeroSection--subtitle {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3;
    margin: -1em auto 1.333em
}

.HeroSection--actions {
    font-size: 1.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em
}

.HeroSection--actions > a:not(:last-child) {
    margin-right: 1em
}

.HeroSection--scroll-indicator {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 3em;
    height: 2em;
    bottom: 2em;
    pointer-events: none
}

@media (max-width: 768px) {
    .HeroSection {
        min-height: auto;
        height: auto;
        padding-top: 10vh;
        padding-bottom: 10vh
    }

    .HeroSectionFollowup > img {
        max-width: 100%
    }

    .HeroSection--content {
        padding-bottom: 0
    }

    .HeroSection--title {
        font-size: 2em
    }

    .HeroSection--actions {
        font-size: 1em
    }

    .HeroSection--scroll-indicator {
        display: none
    }

}

@media (max-width: 375px) {
    .HeroSection--title {
        margin-top: 1em;
        margin-bottom: 1em
    }
}




/* https://codepen.io/postor/pen/mskxI */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* https://codepen.io/postor/pen/mskxI */


.WhosTouringLogoAnimated {
    width: 9em;
    max-width: 100%
}

.WhosTouringLogoAnimated.WhosTouringLogoAnimated-is-centered {
    margin-left: -2.5em
}

.WhosTouringLogoAnimated.WhosTouringLogoAnimated-is-large {

    width: 100%
}

.WhosTouringLogoAnimated.WhosTouringLogoAnimated-is-large.WhosTouringLogoAnimated-is-centered {
    margin-left: -1.25em
}

@media (max-width: 768px) {
    .WhosTouringLogoAnimated.WhosTouringLogoAnimated-is-large.WhosTouringLogoAnimated-is-centered {
        margin-left: -1em
    }

}

.WhosTouringLogoAnimated--aspect-ratio-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio) * 100%)
}

.WhosTouringLogoAnimated--canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.WhosTouringLogoAnimated--subtext {
    font-size: 1.2em;
    margin-top: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5em
}

/* hero section */








/*
** second section
** plan your route
*/
.PlanYourRouteSection--column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 20em;
    width: 100%
}

.PlanYourRouteSection--content {
    position: relative;
    z-index: 2;
    max-width: 100%
}

.PlanYourRouteSection--device-mockup {
    position: relative;
    z-index: 1;
    margin-left: var(--section-gutter-size)
}

@media (max-width: 768px) {
    .PlanYourRouteSection--column {
        flex-direction: column;
        padding-bottom: 17em;
        overflow: hidden
    }

    .PlanYourRouteSection--device-mockup {
        margin-left: 0
    }
}
/*
** second section
** plan your route
*/







/*
** third section
** Guide Your Crew
 */

.GuideYourCrewSection {
    margin-top: -3em
}

.GuideYourCrewSection--column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 26em;
    width: 100%
}

.GuideYourCrewSection--column-less-pad {
    padding: 2em 2em 20em
}

.GuideYourCrewSection--device-mockup {
    position: relative;
    z-index: 1;
    margin-right: var(--section-gutter-size)
}

.GuideYourCrewSection--content {
    position: relative;
    z-index: 2;
    max-width: 100%
}

@media (max-width: 768px) {
    .GuideYourCrewSection {
        margin-top: 0
    }

    .GuideYourCrewSection--column {
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 30em
    }

    .GuideYourCrewSection--content {
        order: 1
    }

    .GuideYourCrewSection--device-mockup {
        order: 2;
        margin-right: 0
    }

}
/*
** third section
** Guide Your Crew
 */












/*
** Fourth section
** Safely Tracks, Logs and Records Movements
 */

.LogAndRecordSection--column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 16em;
    width: 100%
}

.LogAndRecordSection--content {
    position: relative;
    max-width: 100%;
    z-index: 2
}

.LogAndRecordSection--device-mockup {
    position: relative;
    z-index: 1;
    margin-left: calc(var(--section-gutter-size) / 2)
}

@media (max-width: 768px) {
    .LogAndRecordSection {
        margin-top: -9em
    }

    .LogAndRecordSection--column {
        flex-direction: column;
        padding-top: 6em;
        padding-bottom: 24em;
        overflow: hidden
    }

    .LogAndRecordSection--device-mockup {
        margin-left: 0
    }

}

/*
** Fourth section
** Safely Tracks, Logs and Records Movements
 */










/*
** fifth section
** Coming Soon to macOS and Android
 */

.ComingSoon {
    margin-top: -3em
}

.ComingSoon--column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 26em;
    width: 100%
}

.ComingSoon--column-less-pad {
    padding: 2em 2em 20em
}

.ComingSoon--device-mockup {
    position: relative;
    z-index: 1;
    margin-right: var(--section-gutter-size)
}

.ComingSoon--content {
    position: relative;
    z-index: 2;
    max-width: 100%
}

@media (max-width: 768px) {
    .ComingSoon {
        margin-top: 0
    }

    .ComingSoon--column {
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 30em
    }

    .ComingSoon--content {
        order: 1
    }

    .ComingSoon--device-mockup {
        order: 2;
        margin-right: 0
    }

}
/*
** fifth section
** Coming Soon to macOS and Android
 */











/*
** sixth section
** Sign up for early access
 */

.EarlyAccess--column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 36em;
    width: 100%
}

.EarlyAccess--content {
    position: relative;
    z-index: 2;
    width: 40em;
    max-width: 100%;
    margin-bottom: 2em
}

.EarlyAccess--icon {
    height: 8em;
    width: 8em;
    margin: -8em auto 4rem
}

.EarlyAccess--content-section-copy-wrapper {
    margin-bottom: 1em
}

.EarlyAccess--actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em
}

.EarlyAccess--actions > a:not(:last-child) {
    margin-right: 1em
}

.EarlyAccess--backdrop-blob4 {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: -24em;
    width: 144em;
    left: -500em;
    right: -504em;
    margin-left: auto;
    margin-right: auto
}

.EarlyAccess .share-buttons {
    max-width: 10em;
    margin: 2em auto
}

section[data-section=footer] {
    opacity: .5;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 2rem 0
}

section[data-section=footer] .content {
    font-size: .95em;
    text-align: center
}

section[data-section=footer] .content .footer-logo {
    font-family: Helvetica;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -.03em
}

section[data-section=footer] .content a {
    color: inherit
}

@media (max-width: 768px) {
    .EarlyAccess {
        margin-top: -6em
    }

    .EarlyAccess--icon {
        margin-top: 0
    }

    .EarlyAccess--column {
        overflow: hidden;
        padding-bottom: 90em
    }

    .EarlyAccess--backdrop-blob4 {
        top: 33em;
        width: 75em;
        left: -504em;
        right: -500em
    }

}

@media (max-width: 375px) {
    .EarlyAccess--column {
        overflow: hidden;
        padding-bottom: 60em
    }

    .EarlyAccess--backdrop-blob4 {
        top: 33em;
        width: 50em;
        left: -501em;
        right: -502em
    }

}

.EarlyAccess--content-mobile {
    display: none
}

@media (max-width: 768px) {
    .EarlyAccess--content-desktop {
        display: none
    }

    .EarlyAccess--content-mobile {
        display: block
    }

}










.GetNotifiedSection--form-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%
}

.GetNotifiedSection--form {
    display: flex;
    margin-top: 2em;
    justify-content: center
}

@media (max-width: 375px) {
    .GetNotifiedSection--form {
        flex-direction: column
    }

    .GetNotifiedSection--form .Button {
        margin-top: .5em
    }

}

.GetNotifiedSection--form-header {
    text-align: center;
    margin-bottom: 2em
}

.GetNotifiedSection--form-title {
    font-size: 3.25em;
    line-height: 1;
    margin-bottom: .5em;
    font-weight: 700
}

.GetNotifiedSection--form-subtitle {
    font-size: 1.333em
}

.GetNotifiedSection--form-details {
    margin-bottom: 2em;
    display: inline-block;
    text-align: left;
    width: 100%
}

.GetNotifiedSection--form-cta {
    font-size: 1.333em;
    text-align: center
}

.privacy-subtext {
    margin-top: 2rem;
    font-size: 14px
}







/*
** sixth section
** Sign up for early access
 */























/*
** seventh section
** Brought to you by InfiniteHundred.
 */


.InfiniteHundredSection--column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 36em;
    width: 100%
}

.InfiniteHundredSection--content {
    position: relative;
    z-index: 2;
    width: 40em;
    max-width: 100%;
    margin-bottom: 2em
}

.InfiniteHundredSection--icon {
    height: 8em;
    width: 8em;
    margin: -8em auto 4rem
}

.InfiniteHundredSection--content-section-copy-wrapper {
    margin-bottom: 1em
}

.InfiniteHundredSection--actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em
}

.InfiniteHundredSection--actions > a:not(:last-child) {
    margin-right: 1em
}

.InfiniteHundredSection--backdrop-blob4 {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: -24em;
    width: 144em;
    left: -500em;
    right: -504em;
    margin-left: auto;
    margin-right: auto
}

.InfiniteHundredSection .share-buttons {
    max-width: 10em;
    margin: 2em auto
}

section[data-section=footer] {
    opacity: .5;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 2rem 0
}

section[data-section=footer] .content {
    font-size: .95em;
    text-align: center
}

section[data-section=footer] .content .footer-logo {
    font-family: Helvetica;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -.03em
}

section[data-section=footer] .content a {
    color: inherit
}

@media (max-width: 768px) {
    .InfiniteHundredSection {
        margin-top: -6em
    }

    .InfiniteHundredSection--icon {
        margin-top: 0
    }

    .InfiniteHundredSection--column {
        overflow: hidden;
        padding-bottom: 90em
    }

    .InfiniteHundredSection--backdrop-blob4 {
        top: 33em;
        width: 75em;
        left: -504em;
        right: -500em
    }

}

@media (max-width: 375px) {
    .InfiniteHundredSection--column {
        overflow: hidden;
        padding-bottom: 60em
    }

    .InfiniteHundredSection--backdrop-blob4 {
        top: 33em;
        width: 50em;
        left: -501em;
        right: -502em
    }

}

.InfiniteHundredSection--content-mobile {
    display: none
}

@media (max-width: 768px) {
    .InfiniteHundredSection--content-desktop {
        display: none
    }

    .InfiniteHundredSection--content-mobile {
        display: block
    }

}

/*
** seventh section
** Brought to you by InfiniteHundred.
 */






/*
** FORMS
*/
.Button {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    border: 0;
    background: transparent;
    color: inherit;
    line-height: var(--form-field-line-height);
    padding: var(--button-vertical-padding) var(--button-horizontal-padding);
    border-radius: var(--form-field-border-radius);
    text-decoration: none;
    transition: box-shadow .3s ease
}

.Button:focus {
    outline: none
}

.Button.focus-visible:focus {
    box-shadow: 0 0 0 var(--focus-shadow-size) var(--focus-shadow-color)
}

.Button.focus-visible:not(:focus) {
    --focus-shadow-size: 0
}

.Button-is-primary {
    background: rgb(var(--dark-purple-rgb));
    color: rgb(var(--background-color-rgb))
}

[theme=dark] .Button-is-primary {
    background: rgba(var(--purple-rgb), .35);
    color: #fff
}

.Button[disabled] {
    cursor: not-allowed;
    opacity: .5
}

.Button.Button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center
}

.Button.Button-with-icon .Button--icon {
    height: 1.5em;
    width: 1.5em;
    margin-bottom: .1em;
    margin-right: .3125em
}

.Button.Button-with-icon.Button-google-play-store .Button--text {
    font-size: .825em;
    margin-bottom: .0625em
}

html[is-ios] .Button-google-play-store {
    display: none
}

.Button--tc {
    text-align: center
}

.LabelInputWrapper {
    position: relative
}

.LabelInputWrapper--label {
    position: absolute;
    line-height: 1;
    top: .25em;
    left: var(--input-horizontal-padding);
    pointer-events: none
}

.LabelInputWrapper--label-content {
    font-size: .6em;
    letter-spacing: .03em;
    font-weight: 500;
    height: .9em;
    text-transform: uppercase;
    line-height: 1
}

.Input {
    -webkit-appearance: none;
    color: inherit;
    background: var(--input-background-color);
    border: 0;
    line-height: var(--form-field-line-height);
    padding: var(--input-top-padding) var(--input-horizontal-padding) var(--input-bottom-padding);
    border-radius: var(--form-field-border-radius);
    width: 11em;
    max-width: 100%;
    box-shadow: 0 0 0 var(--focus-shadow-size) var(--focus-shadow-color), inset 0 0 0 1px var(--input-border-color-focused), inset 0 0 0 1px var(--input-border-color), inset 0 1px var(--input-border-color);
    transition: box-shadow .3s ease
}

@media (max-width: 768px) {
    .Input {
        width: 13.7em
    }

}

.Input::placeholder {
    color: var(--input-placeholder-color)
}

.Input:focus {
    outline: none
}

.Input:not(:focus) {
    --focus-shadow-size: 0;
    --input-border-color-focused: transparent
}



button, input, select, textarea {
    font: inherit
}


/*
** FORMS
*/

































































